body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

.box1, .box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border: 1px solid #000;
    margin: 0 auto;
}